<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a routerLink="/">
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        <a routerLink="{{ routeUrl }}">
            <!-- <i class="material-icons">
                {{ icon }}
            </i> -->
            {{ title }}
        </a>
        <mat-progress-bar mode="query" color="accent"></mat-progress-bar>
    </span>
    <span class="login-cadastro">
        <button mat-button (click)="navigateToLogin()">
            Login
            <i class="material-icons">
                login
            </i>
        </button>
        <button mat-button (click)="navigateToCadastro()">
            Cadastro
            <i class="material-icons">
                how_to_reg
            </i>
        </button>
    </span>
</mat-toolbar>