.home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.subtitle {
    font-size: 1rem;
}

.iconTitle {
    vertical-align: text-bottom;
    margin-bottom: 2px;
    size: 32px;
}