table {
    width: 100%;
}

form {
    display: flex;   
    flex-direction: column;
    margin-top: 20px;
}

button {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
    margin: 20px 15px 0px 0px;
}

.container {
    justify-content: space-between;
    flex-direction: row;
    display: flex;
}

.container .btn-holder {
    justify-content: flex-end;
    display: flex;
}

.iconInput {
    vertical-align: text-bottom;
    margin-bottom: 5px;
    display: flex;
    margin-right: 10px;
    font-size: 20px;
}

.iconTitle {
    vertical-align: text-bottom;
    margin-bottom: 2px;
}
